/*-----------------------------------*\
  #style.css
\*-----------------------------------*/


/**
 * copyright 2022 @codewithsadee
 */


/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/


/* Sorting Buttons */


/* Details Section Visibility */

.content-details {
    display: none;
}

.content-details.active {
    display: block;
}

.details-unit.hidden {
    display: none;
}

.content-card {
    position: var(--position-relative);
    background: var(--border-gradient-onyx);
    padding: var(--padding-15);
    padding-top: var(--padding-45);
    border-radius: var(--radius-14);
    box-shadow: var(--shadow-2);
    cursor: var(--cursor-pointer);
    z-index: var(--z-1);
}

.content-card::before {
    content: "";
    position: var(--position-absolute);
    inset: var(--inset-1);
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: var(--z-neg-1);
}


/* Rest of the file remains unchanged... */